<%= render 'index' %>
<header>
    <div >
        <h1>Auto Parts Store</h1>
    </div>
    <div class="welcome">
        <div class="welcome-message">Welcome <%= current_user.email %></div>
    </div>
    <nav>
        <ul>
            <% if current_user.status == "buyer" %>
                <li><a href="#home">Buyer Profile</a></li>
                <li><a href="#services">Buy Product</a></li>
            <% elsif current_user.status == "seller" %>
                <li><a href="#home">Seller Profile</a></li>
                <li><a href="#services">Add Product</a></li>
            <% end %>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="sign-out-btn">
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, form_class: "button" %>
    </div>
</header>
<main>
    <section id="home">
        <h2>Welcome to Our Auto Parts Store</h2>
        <p>Your one-stop shop for quality auto parts and accessories.</p>
    </section>
    
    <section id="featured-products">
        <h2>Featured Products</h2>
        <div class="product">
            <%= image_tag "engine-parts.jpg" %> 
            <h3>Engine Parts</h3>
        </div>
        <div class="product">
            <%= image_tag "brakes.jpg" %> 
            <h3>Brake Pads</h3>
        </div>
        <div class="product">
            <%= image_tag "wheels.jpg" %> 
            <h3>Alloy Wheels</h3>
        </div>
    </section>
</main>