<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Log In</title>
<style>
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  text-align: center;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
input[type="checkbox"] {
  padding: 10px;
  margin-top: 8px;
  width: calc(100% - 22px); /* Adjust width to account for padding and border */
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #5C67F2;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #4a54e1;
  transition: background-color 0.3s;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

.label-remember {
  display: flex;
  align-items: center;
}

.field em {
  font-size: 0.9em;
  color: #666;
}

.actions {
  text-align: center;
  margin-top: 20px;
}

label {
  font-weight: bold;
  color: #555;
}

a {
  color: #5C67F2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

</style>
</head>
<body>

<div>
  <h2>Log In</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="input-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="input-group label-remember">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

</body>
</html>
